@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;800&display=swap');

*{
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #303030;
    color: white;
}

header{
    height: auto;
    padding:2em
}

header img{
    
    width: 10%;
}

span{
    color: #3487f3;
}

.container{
    margin: auto;
    padding:1em;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main img{
    width:20%;
    margin: auto;
    padding:1.5em;
}

input{
    background-color: white;
    border: none;
    border-radius: 10px;
    padding: 1em;
    color: black;
    font-weight: 600;
}

form{
    width: 40%;
    display:flex;
    flex-direction: column;
}

#respostanome{
    font-size: 10pt;
    color: red;
    margin-top: 0.25em;
    text-align: right;
}

#respostaemail{
    font-size: 10pt;
    color: red;
    margin-top: 0.25em;
    text-align: right;
}

#respostacadastro{
    font-size: 10pt;
    color: red;
    margin-top: 0.25em;
    text-align: right;
}

button{
    background-color: #0C70F2;
    border-radius: 10px;
    border: none;
    padding: 1em;
    margin-top: 1em;
}

button:hover{
    cursor: pointer;
    background-color: #5195ee;
}

button:active{
    background-color: #5195ee;
    transform: translateY(1px);
}

label{
    margin-top: 1em;
    margin-bottom: 0.5em;
}

@media (max-width: 600px){
    form{
        width: 80%;
    }

    main img{
        width:60%;
    }

    header img{
    
        width: 30%;
    }
}